/* Stylesheet */

h1 {
	color: #046E91;
	font-family: "Book Antiqua";
	text-align:  center;
	font-size: 36px;
	margin-bottom: 5px;

}

hr {
	border: none;
	color: #046E91;
	background-color: #046E91;
	height: 2px;
}

h2 {
	color: #046E91;
	font-family: "Book Antiqua";
	font-size: 25px;
}