/* Stylesheet */

h1 {
	color: #046E91;
	font-family: "Book Antiqua";
	text-align:  center;
	font-size: 36px;
	margin-bottom: 5px;

}

hr {
	border: none;
	color: #046E91;
	background-color: #046E91;
	height: 2px;
}

h2 {
	margin-bottom: 0px;
	color: #046E91;
	font-family: "Book Antiqua";
	font-size: 25px;
}

p {
	margin-top: 0px;
	margin-bottom: 0px;
}

ul {
	margin-top: 0px;
}

div {
	color: #028DBE;
	font-family: "Times New Roman";
	font-size: 16px;
}